.branding-branding {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.branding-logo {
  width: 26px;
  height: 26px;
  object-fit: cover;
}

@media(max-width: 767px) {
  .branding-logo {
    width: 15px;
    height: 15px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F6F5ED;
}
.home-main {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 818px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 501px;
  height: 672px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navbar-interactive {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-desktop-menu {
  display: flex;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  text-decoration: none;
}
.home-link01 {
  text-decoration: none;
}
.home-link02 {
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.home-link03 {
  text-decoration: none;
}
.home-link04 {
  text-decoration: none;
}
.home-link05 {
  text-decoration: none;
}
.home-link06 {
  text-decoration: none;
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero-section {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: rgb(34, 34, 35);
  width: 503px;
  height: 296px;
  font-size: 67px;
  font-style: normal;
  font-family: "Lora";
  font-weight: 900;
  line-height: 91px;
}
.home-caption {
  color: rgb(34, 34, 35);
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}
.home-image {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-end;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  background-image: url('https://www.questclimate.com/wp-content/uploads/sites/7/2017/07/760605_original_miami_self_storage.jpg');
}
.home-steps {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F5ED;
}
.home-content1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 337px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 26px;
  flex-direction: row;
  padding-bottom: 12px;
  background-color: #D9D9D9;
}
.home-information {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.home-main1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: "Lora";
  font-weight: 500;
  line-height: 52px;
}
.home-text {
  font-weight: 900;
}
.home-caption1 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.home-button1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link07 {
  width: 511px;
  text-align: center;
  text-decoration: none;
}
.home-text04 {
  top: 62px;
  right: 109px;
  position: absolute;
}
.home-text05 {
  font-weight: 700;
}
.home-text11 {
  font-weight: 700;
}
.home-text17 {
  font-weight: 700;
}
.home-text23 {
  font-weight: 700;
}
.home-help {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 884px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 52px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 12px;
  justify-content: center;
}
.home-help-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header02 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading2 {
  font-size: 40px;
  font-style: normal;
  font-family: "Lora";
  font-weight: 500;
  line-height: 52px;
}
.home-caption2 {
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-content2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-save {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.home-main2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading3 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-family: "Lora";
  font-weight: 500;
  line-height: 52px;
}
.home-caption3 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.home-button2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link08 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.home-link09 {
  text-decoration: none;
}
.home-images {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-image1 {
  width: 640px;
  object-fit: cover;
}
.home-companies {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-content4 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.home-main3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading4 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
}
.home-caption4 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.home-highlights {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-highlight {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-title {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-left-width: 1px;
}
.home-description {
  color: rgb(34, 34, 35);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-highlight1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-title1 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-left-width: 1px;
}
.home-description1 {
  color: rgb(34, 34, 35);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-button3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-images1 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-image2 {
  width: 640px;
  object-fit: cover;
}
.home-container03 {
  display: contents;
}
.home-donation-use {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 1264px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.home-header05 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading5 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: "Lora";
  font-weight: 500;
  line-height: 52px;
}
.home-accordion {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text34 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: "Lora";
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.home-text35 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  text-align: justify;
  line-height: 27px;
}
.home-header07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text36 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: "Lora";
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.home-text37 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  text-align: justify;
  line-height: 27px;
}
.home-header08 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text38 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: "Lora";
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.home-text39 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  text-align: justify;
  line-height: 27px;
}
.home-header09 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text40 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: "Lora";
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.home-text41 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  text-align: justify;
  line-height: 27px;
}
.home-container05 {
  display: contents;
}
.home-footer {
  width: 100%;
  height: 330px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 154px;
  justify-content: space-between;
}
.home-container06 {
  width: 100%;
  height: 149px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-image3 {
  height: 2rem;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container08 {
  height: 107px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  width: 466px;
  height: 62px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text42 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link11 {
  text-decoration: none;
}
.home-socials {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text43 {
  align-self: center;
  text-align: center;
}
.home-container10 {
  display: contents;
}
.home-container12 {
  display: contents;
}
@media(max-width: 991px) {
  .home-main {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-navbar-interactive {
    gap: 0;
    justify-content: space-between;
  }
  .home-links {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-heading {
    font-size: 36px;
    line-height: 46px;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .home-content1 {
    gap: var(--dl-space-space-fourunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: flex-start;
  }
  .home-button1 {
    width: 100%;
  }
  .home-help {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-save {
    flex-direction: column;
  }
  .home-content3 {
    max-width: 100%;
  }
  .home-button2 {
    width: 100%;
  }
  .home-images {
    width: 100%;
  }
  .home-image1 {
    width: 100%;
  }
  .home-companies {
    flex-direction: column;
  }
  .home-content4 {
    max-width: 100%;
  }
  .home-button3 {
    width: 100%;
  }
  .home-images1 {
    width: 100%;
  }
  .home-image2 {
    width: 100%;
  }
  .home-donation-use {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-main {
    gap: var(--dl-space-space-threeunits);
    height: 800px;
    position: relative;
    padding-left: 0px;
    flex-direction: column;
  }
  .home-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-navbar-interactive {
    gap: 0;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-image {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-position: center;
  }
  .home-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-help {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-help-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading3 {
    text-align: center;
  }
  .home-caption3 {
    text-align: center;
  }
  .home-heading4 {
    text-align: center;
  }
  .home-caption4 {
    text-align: center;
  }
  .home-donation-use {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-header05 {
    max-width: 100%;
  }
  .home-accordion {
    width: 100%;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container06 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-image3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-content {
    gap: var(--dl-space-space-threeunits);
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-content1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading1 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-text {
    font-size: 30px;
    line-height: 40px;
  }
  .home-text02 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-help {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading2 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-caption2 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-heading3 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-caption3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-button2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-heading4 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-caption4 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-highlight {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    flex-direction: column;
  }
  .home-title {
    padding-left: 0px;
    border-left-width: 0px;
  }
  .home-description {
    text-align: center;
  }
  .home-highlight1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    flex-direction: column;
  }
  .home-title1 {
    padding-left: 0px;
    border-left-width: 0px;
  }
  .home-description1 {
    text-align: center;
  }
  .home-button3 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-donation-use {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading5 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-element {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text34 {
    font-size: 16px;
  }
  .home-text35 {
    line-height: 24px;
  }
  .home-element1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text36 {
    font-size: 16px;
  }
  .home-text37 {
    line-height: 24px;
  }
  .home-element2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text38 {
    font-size: 16px;
  }
  .home-text39 {
    line-height: 24px;
  }
  .home-element3 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text40 {
    font-size: 16px;
  }
  .home-text41 {
    line-height: 24px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container06 {
    align-items: center;
    flex-direction: column;
  }
  .home-image3 {
    margin-bottom: 0px;
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container08 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text43 {
    text-align: center;
  }
}
